.pz-banner
  &__wrapper
    margin-top: 140px
    background-color: $fsr-2
    background-size: cover
    background-repeat: no-repeat
    background-position: top center

    @include media-desktop
    @include media-tablet-landscape
    @include media-tablet-portrait
    @include media-phone

  &__container
    height: 600px
    position: relative
    display: flex
    justify-content: center
    flex-direction: column
    padding-bottom: 40px
  &__title
    margin: 40px auto 20px auto
    padding: 0
    width: 80%
    color: $fsr-wt
    font-family: $font-third
    font-size: 3.0rem
    text-shadow: 1px 2px rgba(0,0,0,.4)

    @include media-desktop
    @include media-tablet-landscape
    @include media-tablet-portrait
      font-size: 2rem
    @include media-phone

  &__subtitle-simple
    margin: 4px auto 40px auto
    padding: 0
    width: 80%
    color: $fsr-wt
    font-family: $font-third
    font-size: 2.0rem
    line-height: 2.3rem
    text-shadow: 1px 2px rgba(0,0,0,.4)
    @include media-desktop
    @include media-tablet-landscape
    @include media-tablet-portrait
    @include media-phone
      font-size: 1.3rem

  &__subtitle
    font-size: 1.8rem
    font-family: $font-third
    text-transform: uppercase
    background-color: $fsr-wt
    color: black
    font-weight: bold
    margin: 0 auto 40px auto 
    padding: 15px 0
    width: 80%
    text-align: center
    mix-blend-mode: screen
    opacity: .9
    box-shadow: 1px 1px rgba(0,0,0,.4)

    @include media-desktop
    @include media-tablet-landscape
    @include media-tablet-portrait
      font-size: 1.5rem
      width: 80%
    @include media-phone
      font-size: 1.3rem

  &__link-wrapper
    display: flex 
    justify-content: center
    @include media-desktop
    @include media-tablet-landscape
    @include media-tablet-portrait
      flex-direction: row 
      min-width: 50%
      margin-left: auto
      margin-right: auto
    @include media-phone
  &__link
    font-size: 1.3rem
    background: $fsr-1
    padding: 15px 50px
    margin: 0 10px 20px 10px
    color: $fsr-wt
    &:hover
      color: $fsr-wt
      background: $fsr-4
      text-decoration: none
    @include media-desktop
    @include media-tablet-landscape
    @include media-tablet-portrait
      font-size: 1.1rem
      padding: 15px 20px
    @include media-phone

  &__button
    max-width: 500px
    margin: 0 auto
    padding: 1.2rem 2.9rem
    font-size: 1.5rem
    font-family: $font-third
    text-transform: uppercase
    background: $fsr-1
    color: $fsr-wt
    font-weight: 600
    letter-spacing: 1px
    border-radius: 50px
    &:hover
      background: $fsr-wt

    @include media-desktop
    @include media-tablet-landscape
    @include media-tablet-portrait
      font-size: 1.2rem
    @include media-phone
