.pz-nav__brand-img
  width: 95%
  margin-left: 45px
@include media-desktop
  .pz-nav__brand-img
    width: 95%
    margin-left: 45px
@include media-tablet-landscape
  .pz-nav__brand-img
    width: 95%
@include media-tablet-portrait
@include media-phone
