.pz-banner-form__wrapper
  .pz-section__wrapper
    padding-bottom: 70px
    .pz-decoline, 
    .pz-empty-space:nth-of-type(3)
      display: none
    .pz-section__title
      background: $fsr-1
      color: $fsr-wt
      margin: 0 auto
      width: 50%
      padding: 10px 0
      font-size: 2.5rem
    .pz-section__row
      .pz-container
        width: 50%
        padding-right: 30px
        padding-left: 30px
        background: rgba(255, 255, 255, .45)
        .MuiFormControl-root
          opacity: 1
          background: $fsr-wt
