.pz-footer__wrapper
  background: lighten($fsr-0, 11%)
  color: $fsr-4
.pz-footer
  display: flex
  justify-content: space-between
  margin-top: 80px
  margin-bottom: 50px
  font-size: 1.2em
  &__col-1
    flex: 1 1 0
  &__col-2
    flex: 2 1 0 

    .pz-contact-details__wrapper
      display: flex
      flex-direction: column
      align-items: center

    .pz-contact-details
      color: darken($fsr-1, 10%)
      align-items: flex-start

      &-item
        margin-bottom: 10px
        &:last-of-type
          display: none

        a, span
          font-size: 1rem
          letter-spacing: .8px

      h6
        padding: 0
        margin: 0

  &__col-3
    flex: 1 1 0
    .pz-footer__office-hours_wrapper
      display: flex
      justify-content: flex-end
    .pz-footer__office-hours
      text-align: left
      span
        display: block 
        font-size: 1rem
        h6
          font-size: 1rem
          display: inline
          padding: 0
          margin: 0

.pz-footer-meta
  padding: 15px
  color: $fsr-wt
  background: $fsr-1
  text-transform: uppercase
  font-family: $font-first
  a
    color: $fsr-4
    font-family: $font-first
    font-weight: bold
    margin-left: 5px
    &:hover
      color: white

  span, a
    font-size: 1rem

@include media-desktop
@include media-tablet-landscape
@include media-tablet-portrait
  .pz-footer
    >*
    display: flex
    flex-direction: column
    justify-content: space-between

    &__col-1

    &__col-2

    &__col-3
