.pz-footer__wrapper
  background: $fsr-4
  color: $fsr-3
.pz-footer
  display: flex
  justify-content: space-around
  margin-top: 80px
  margin-bottom: 50px
  font-size: 1rem
  padding: 0 50px
  &__col-1
    flex: 1 1 0px
    p
      text-align: left
      font-size: 1rem
      line-height: 2rem
  &__col-2
    flex: 1 1 0px
    .pz-contact-details__wrapper
      display: flex
      flex-direction: column
      align-items: center

    .pz-contact-details
      color: $fsr-1
      align-items: flex-start
      &-item
        margin-bottom: 10px
        &:last-of-type
          display: none
        a, span
          letter-spacing: .8px
          font-size: 1rem

        a
          color: $fsr-3
        svg
          top: -3px
      h6
        padding: 0
        margin: 0
        font-size: 1rem
  &__col-3
    flex: 1 1 0px
    .pz-footer__office-hours_wrapper
      display: flex
      justify-content: center 
    .pz-footer__office-hours
      text-align: left
      span
        display: block 
        font-size: 1rem
        h6
          font-size: 1rem
          display: inline
          padding: 0
          margin: 0
          color: $fsr-1

  &__col-4
    flex: 1 1 0px
    .pz-menu__item-dark
      margin-top: 20px
      background: transparent 
      &:hover
        padding: 0
      

.pz-footer-meta
  padding: 15px
  color: $fsr-4
  background: darken($fsr-4, 10%)
  text-transform: uppercase
  font-family: $font-first
  a
    color: $fsr-4
    font-family: $font-first
    font-weight: bold
    margin-left: 5px
    transition: all 0.04s
    &:hover
      color: white

  span, a
    font-size: 1rem

@include media-desktop
  .pz-footer
    &__col-2
      .pz-contact-details
        &-item
          a, span
            font-size: .9rem
            letter-spacing: initial
    &__col-3
      .pz-footer__office-hours
        span
          font-size: .9rem
          h6
            font-size: .9rem

@include media-tablet-landscape
@include media-tablet-portrait
  .pz-footer
    >*
    display: flex
    flex-direction: column
    justify-content: space-between

    &__col-1
      .pz-nav__brand-img
        width: 70%  
        margin-bottom: 50px

    &__col-2
      margin-bottom: 30px
      .pz-contact-details
        align-items: center 
        span, a
          font-size: 1.2rem

    &__col-3
      margin-bottom: 30px
      .pz-footer__office-hours_wrapper
        justify-content: center
        .pz-footer__office-hours
          text-align: center
          span, h6
            margin-bottom: 5px
            font-size: 1.2rem
