.pz-menu
  list-style: none
  flex: 2
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-items: center
  padding: 0
  margin: 11px 0

  &__item
    text-decoration: none
    text-transform: uppercase
    font-weight: bold !important
    list-style: 0
    font-size: .9rem
    padding: .8rem 1.2rem .8rem 1.2rem 
    vertical-align: middle !important 
    color: $fsr-1 !important
    font-weight: 600
    letter-spacing: 2px
    transition: outline .05s
    margin-right: .5rem
    margin-top: 20px
    display: flex
    align-self: baseline
    padding: .9rem 1.2rem !important
    &:hover
      text-decoration: none
      background: $fsr-wt
      color: $fsr-2
      outline: 2px solid $fsr-2

  &__item-dark
    color: $fsr-wt !important
    transition: all .05s
    font-size: .8rem
    text-transform: uppercase
    font-weight: 600
    &:hover
      outline: none !important
      span
        background: $fsr-4

    span
      background: $fsr-1
      outline: 1px solid $fsr-wt
      &:first-of-type
        padding: 1rem .6rem 1rem 1.2rem
      &:last-of-type
        padding: 1rem 1.2rem 1rem 1.2rem
    svg
      position: relative
      bottom: 1px
      margin-right: 10px

.nav-link.active
      outline: 2px solid $fsr-2

.pz-menu__item-active
  background: $fsr-wt
  color: $fsr-2
  outline: 2px solid $fsr-2
.navbar-light .navbar-toggler
  border-color: transparent !important
  margin-right: 35px
  &:focus
    outline: none

.navbar-toggler-icon

@include media-tablet-landscape
  .pz-menu__item
    a
      font-size: 1.2rem
      padding: .7rem 1.2rem .6rem 1.2rem

@include media-tablet-portrait
  .pz-menu
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    flex: 0 0 auto
    width: 70%
    margin-top: 4rem
    margin-left: auto
    margin-right: auto
  .pz-menu__item
    &-active
     background: $fsr-4
     a
       color: $fsr-1 !important

    a
      color: white
      font-size: 18px
      line-height: 6rem
      &:hover,
      &:active,
      &:focus
        text-decoration: none
        background: $fsr-4
        color: $fsr-1
        padding: 0

@include media-phone
  .navbar-light .navbar-toggler
    margin-right: 0px !important
  .pz-menu__item-dark
    display: inline-flex
    font-size: 1rem 
  
#responsive-navbar-nav

  .navbar-nav
    @include media-desktop
      flex-wrap: nowrap
      margin: 0
      padding: 0
    @include media-tablet-landscape
    @include media-tablet-portrait
    @include media-phone
    @include media-phone-s

    .nav-link
      @include media-desktop
        font-size: .8rem
        padding: .8rem .3rem .8rem .3rem !important
        margin: 0
        margin-left: 5px
      @include media-tablet-landscape
      @include media-tablet-portrait
      @include media-phone
      @include media-phone-s

    .pz-menu__item-dark
      @include media-desktop
        margin: 0
        justify-content: center
        font-size: .8rem
        span:first-of-type
          padding: .86rem .3rem .86rem 1.2rem
        span:last-of-type
          padding: .86rem 1.2rem .86rem .6rem
      @include media-tablet-landscape
      @include media-tablet-portrait
      @include media-phone
      @include media-phone-s

