.pz-nav__fixed
  position: fixed
.pz-nav__bottom-row
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2)
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2)
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2)
  top: 0

.pz-nav__burger-button

.pz-nav__wrapper

nav.navbar
  padding: 1.2rem .5rem
  .navbar-nav
    padding: 20px 40px 40px 40px
    flex-wrap:  wrap-reverse
    justify-content: flex-end
@include media-desktop
@include media-tablet-landscape
@include media-tablet-portrait
@include media-phone


