.pz-services__page-banner-wrapper
  position: relative
  .pz-banner__wrapper
    .pz-banner__title
      padding-top: 0
      margin-top: 0
  .pz-cta__wrapper 
    position: absolute
    width: 100%
    bottom: 0px
    display: flex
    justify-content: center
    background: $fsr-1
    .pz-cta__link
      text-decoration: none
      text-transform: uppercase
      color: $fsr-wt 
      background: $fsr-4
      border: 3px solid $fsr-wt
      padding: 13px 29px
      line-height: 17px
      font-size: 14px
      transition: all .4s
      position: absolute
      margin-top: 10px
      &:hover
       border-color: $fsr-4
       background: $fsr-wt
       color: $fsr-4
    .pz-section__wrapper
      flex: 1
      .pz-decoline
        display: none
      .pz-section__title
        text-transform: Capitalize
        color: $fsr-wt
        margin-top: 25px
        margin-bottom: 0
      .pz-section__row
        .pz-container
          justify-content: center
          
