.pz-services-excerpt__wrapper
  .pz-section__wrapper
    background: lighten($fsr-0, 10%)
    .pz-section__row
      .pz-container
        .pz-card-wrapper
          flex: 0 0 33%
          margin-bottom: 40px
          @include media-desktop
          @include media-tablet-landscape
            flex: 0 0 50%
          @include media-tablet-portrait
            flex: 0 0 50%
          @include media-phone
            flex: 0 0 100%
          .pz-card__item
            padding: 0 15px
  .pz-card
    &__item
      margin: 0 20px
    &__image
      width: 100% 
      max-width: 300px
      height: auto
    &__content
      display: flex
      flex-direction: column
      justify-content: center
      margin-top: 30px
      @include media-desktop
      @include media-tablet-landscape
      @include media-tablet-portrait
      @include media-phone
      span
        margin-bottom: 5px
        &::before
          content: "•  "

    &__title
      font-size: 3rem
      text-transform: uppercase
      color: $fsr-4

