.pz-nav__top-row
  background-color: $fsr-wt
  color: $fsr-bl
  font-family: $font-second
  font-size: .9rem
  padding: 20px 0 20px 0
  @include media-desktop
  @include media-tablet-landscape
  @include media-tablet-portrait
    padding: 0px 0 20px 0
  @include media-phone

.pz-nav__top-row_content
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  .pz-contact-details
    .pz-contact-details-item, a
      margin: 3px 
      font-size: 1.1rem
      letter-spacing: 1px
    .pz-contact-details-item:first-of-type
      display: none


@include media-desktop
@include media-tablet-landscape
  .pz-nav__top-row_content
    .pz-contact-details
      .pz-contact-details-item, a
        margin: 3px 
        font-size: 1rem

@include media-tablet-portrait
  .pz-nav__top-row_content
    justify-content: center
    flex-direction: column

@include media-phone
