.pz-nav__top-row
  background-color: $fsr-wt
  color: $fsr-bl
  font-family: $font-second
  font-size: .9rem
  padding: 20px 0

.pz-nav__top-row_content
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.pz-nav__top-row_contact-details
  display: flex
  flex-direction: column
  align-items: flex-end
  font-size: 1.4rem
  color: $fsr-bl
  span
    margin-bottom: 10px
    &:last-of-type
      margin-bottom: 0
  svg
    position: relative
    top: 3px
    margin-right: 5px
    color: $fsr-1

